<%= link_to @post.title, post_path(@post) %>
<div>
  <%= @post.body %>
</div>
<hr>
<%= link_to "back", posts_path %>
<%= link_to "edit", edit_post_path(@post) %>
<%= link_to "delete", post_path(@post), method: :delete %>
