<%= link_to @post.title, post_path(@post) %>
<div>
  <%= @post.body %>
</div>
<hr>
<%= link_to "Back to list", posts_path, class: "btn btn-default" %>
<%= link_to "Edit post", edit_post_path(@post), class: "btn btn-primary" %>
<%= link_to "Delete post", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>


<h3>Comments</h3>

<ul class="list-group js-comment-list">
<% if @post.comments.any? %>
  <% @post.comments.reverse.each do |comment| %>
    <%= render "comments/view", comment: comment %>
  <% end %>
<% end %>
</ul>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for @comment, html: { class: "js-comment-add", role: "form", data: {remote: true} } do |f| %>
          <%= f.hidden_field :user_id, value: current_user.try(:id) %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <% if @comment.errors.any? %>
            Errors: <%= @comment.errors.full_messages.join('; ') %>
          <% end %>

          <br/>
          <div class="form-group">
            <label>Body:</label>
            <%= f.text_area :body, class: "form-control", data: { reset: true} %>
          </div>
          <%= f.submit (@comment.persisted? ? 'Update comment' : 'Create comment'), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
