<%= link_to @post.title, post_path(@post) %>
<div>
  <%= @post.body %>
</div>
<hr>
<%= link_to "Back to list", posts_path, class: "btn btn-default" %>
<%= link_to "Edit post", edit_post_path(@post), class: "btn btn-warning" %>
<%= link_to "Delete post", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

